/**
 * @description: 基础css配置
 */
/* 主色 */
$jr-brand-color: #409EFF;

/* 辅助色 */
$jr-success-color: #67C23A; //成功
$jr-warning-color: #E6A23C; //警告
$jr-danger-color: #F56C6C; //危险
$jr-info-color: #909399; //提示

/* 字体颜色 */
$jr-text-color-main: #303133; //主要文字
$jr-text-color-regular: #606266; //常规文字
$jr-text-color-secondary: #909399; //次要文字
$jr-text-color-placeholder: #C0C4CC; //占位文字

/* 字体大小 */
$jr-text-size-auxiliary: 12px; //辅助文字
$jr-text-size-main-small: 13px; //正文（小）
$jr-text-size-main: 14px; //正文
$jr-text-size-subtitle: 16px; //小标题
$jr-text-size-title: 18px; //标题
$jr-text-size-main-title: 20px; //主标题

/* 字体行号 */
$jr-text-line-none: 1; //无行高
$jr-text-line-compact: 1.3; //紧凑
$jr-text-line-regular: 1.5; //常规
$jr-text-line-loose: 1.7; //宽松

/* 边框颜色 */
$jr-border-level1: #DCDFE6; //一级边框
$jr-border-level2: #E4E7ED; //二级边框
$jr-border-level3: #EBEEF5; //三级边框
$jr-border-level4: #F2F6FC; //四级边框

/* 基础色号 */
$jr-black: #000000;
$jr-white: #FFFFFF;
$jr-gray: #fafafa; //常规
$jr-transparent: transparent;

/* 圆角 */
$jr-border-radius-none: 0;
$jr-border-radius-sm: 2px;
$jr-border-radius-base: 4px;
$jr-border-radius-lg: 30px;
$jr-border-radius-circle: 50%;

/* 投影 */
$jr-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$jr-shadow-basic: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

/*  -- 宽度 -- */
.w-100{ width: 100%; }
.h-100{height: 100%;}
.w-p200{width: 200px;}

/* 文字颜色 */
.text-color-brand{color:$jr-brand-color;}//品牌色
.text-color-success{color: $jr-success-color;}//成功
.text-color-warning{color: $jr-warning-color;}//警告
.text-color-danger{color: $jr-danger-color;}//危险
.text-color-inf{color: $jr-info-color;} //提示

.text-color-main{color:$jr-text-color-main;}//主要文字
.text-color-regular{color: $jr-text-color-regular;} //常规文字
.text-color-secondary{color: $jr-text-color-secondary;}//次要文字
.text-color-placeholder{color: $jr-text-color-placeholder;}//占位文字
.text-color-white{color: $jr-white;}//白
.text-color-black{color: $jr-black;}//黑
.text-color-gray{color: $jr-gray;}//黑

/* 文字行高 */
.text-line-none{line-height: $jr-text-line-none;}
.text-line-compact{line-height: $jr-text-line-compact;}
.text-line-regular{line-height: $jr-text-line-regular;}
.text-line-loose{line-height: $jr-text-line-loose;}

/* 背景颜色 */
.bg-brand{background-color:$jr-brand-color;}//品牌色
.bg-success{background-color: $jr-success-color;}//成功
.bg-warning{background-color: $jr-warning-color;}//警告
.bg-danger{background-color: $jr-danger-color;}//危险
.bg-inf{background-color: $jr-info-color;} //提示

.bg-main{background-color:$jr-text-color-main;}//主要文字
.bg-regular{background-color: $jr-text-color-regular;} //常规文字
.bg-secondary{background-color: $jr-text-color-secondary;}//次要文字
.bg-placeholder{background-color: $jr-text-color-placeholder;}//占位文字
.bg-white{background-color: $jr-white;}//白
.bg-black{background-color: $jr-black;}//黑
.bg-gray{background-color: $jr-gray;}

/* 边框 */
.border-level1{border:1px solid $jr-border-level1 };
.border-level2{border:1px solid $jr-border-level2 };
.border-level3{border:1px solid $jr-border-level3 };
.border-level4{border:1px solid $jr-border-level4 };
.border-level1-left{border-left: 1px solid $jr-border-level1;}
.border-level1-right{border-right: 1px solid $jr-border-level1;}
.border-level1-top{border-top: 1px solid $jr-border-level1;}
.border-level1-bottom{border-bottom: 1px solid $jr-border-level1;}
.border-level2-left{border-left: 1px solid $jr-border-level2;}
.border-level2-right{border-right: 1px solid $jr-border-level2;}
.border-level2-top{border-top: 1px solid $jr-border-level2;}
.border-level2-bottom{border-bottom: 1px solid $jr-border-level2;}
.border-level3-left{border-left: 1px solid $jr-border-level3;}
.border-level3-right{border-right: 1px solid $jr-border-level3;}
.border-level3-top{border-top: 1px solid $jr-border-level3;}
.border-level3-bottom{border-bottom: 1px solid $jr-border-level3;}
.border-level4-left{border-left: 1px solid $jr-border-level4;}
.border-level4-right{border-right: 1px solid $jr-border-level4;}
.border-level4-top{border-top: 1px solid $jr-border-level4;}
.border-level4-bottom{border-bottom: 1px solid $jr-border-level4;}

/* 圆角 */
.border-radius-none{border-radius: $jr-border-radius-none;}
.border-radius-sm{border-radius: $jr-border-radius-sm;}
.border-radius-base{border-radius: $jr-border-radius-base;}
.border-radius-lg{border-radius: $jr-border-radius-lg;}
.border-radius-circle{border-radius: $jr-border-radius-circle;}

/* 投影 */
.shadow-light{box-shadow:0 2px 12px 0 rgba(0, 0, 0, 0.1); }
.shadow-basic{box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)}

/* 间距 */
.m-0{margin: 0;}
.m-auto{margin: auto;}
.m-1 { margin: 5px; }
.m-2 { margin: 10px; }
.m-3 { margin: 15px; }
.m-4 { margin: 20px; }
.m-5 { margin: 25px; }

.mt-0{margin-top: 0;}
.mt-auto{margin-top: auto;}
.mt-1 { margin-top: 5px; }
.mt-2 { margin-top: 10px; }
.mt-3 { margin-top: 15px; }
.mt-4 { margin-top: 20px; }
.mt-5 { margin-top: 25px; }

.ml-0{margin-left: 0;}
.ml-auto{margin-left: auto;}
.ml-1 { margin-left: 5px; }
.ml-2 { margin-left: 10px; }
.ml-3 { margin-left: 15px; }
.ml-4 { margin-left: 20px; }
.ml-5 { margin-left: 25px; }

.mr-0{margin-right: 0;}
.mr-auto{margin-right: auto;}
.mr-1 { margin-right: 5px; }
.mr-2 { margin-right: 10px; }
.mr-3 { margin-right: 15px; }
.mr-4 { margin-right: 20px; }
.mr-5 { margin-right: 25px; }

.mb-0{margin-bottom: 0;}
.mb-auto{margin-bottom: auto;}
.mb-1 { margin-bottom: 5px; }
.mb-2 { margin-bottom: 10px; }
.mb-3 { margin-bottom: 15px; }
.mb-4 { margin-bottom: 20px; }
.mb-5 { margin-bottom: 25px; }

.p-0{padding: 0;}
.p-1 { padding: 5px; }
.p-2 { padding: 10px; }
.p-3 { padding: 15px; }
.p-4 { padding: 20px; }
.p-5 { padding: 25px; }

.pt-0{padding-top: 0;}
.pt-1 { padding-top: 5px; }
.pt-2 { padding-top: 10px; }
.pt-3 { padding-top: 15px; }
.pt-4 { padding-top: 20px; }
.pt-5 { padding-top: 25px; }

.pl-0{padding-left: 0;}
.pl-1 { padding-left: 5px; }
.pl-2 { padding-left: 10px; }
.pl-3 { padding-left: 15px; }
.pl-4 { padding-left: 20px; }
.pl-5 { padding-left: 25px; }

.pr-0{padding-right: 0;}
.pr-1 { padding-right: 5px; }
.pr-2 { padding-right: 10px; }
.pr-3 { padding-right: 15px; }
.pr-4 { padding-right: 20px; }
.pr-5 { padding-right: 25px; }

.pb-0{padding-bottom: 0;}
.pb-1 { padding-bottom: 5px; }
.pb-2 { padding-bottom: 10px; }
.pb-3 { padding-bottom: 15px; }
.pb-4 { padding-bottom: 20px; }
.pb-5 { padding-bottom: 25px; }

/* 文字对齐 */
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

/* 文字粗细 */
.font-weight-lighter {font-weight: 100;}
.font-weight-light {font-weight: 300;}
.font-weight-normal {font-weight: 400;}
.font-weight-bold {font-weight: bold;}
.font-weight-bolder {font-weight: bolder;}

/* 文字大小 */
.font-size-auxiliary{font-size: $jr-text-size-auxiliary;} //辅助文字
.font-size-main-small{font-size: $jr-text-size-main-small;} //正文（小）
.font-size-main{font-size: $jr-text-size-main;} //正文
.font-size-subtitle{font-size: $jr-text-size-subtitle;} //小标题
.font-size-title{font-size: $jr-text-size-title;} //标题
.font-size-main-title{font-size: $jr-text-size-main-title;} //主标题

/* 文字倾斜 */
.font-style-italic {font-style: italic;}

/* 文字划线 */
.text-through {text-decoration: line-through;}
.text-underline {text-decoration: underline;}

/* 文字换行溢出处理 */
.text-ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.text-multi-ellipsis{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}

/* 文字划过 */
.cursor-pointer{cursor:pointer;}
.cursor-default{cursor:default;}
.cursor-crosshair{cursor:crosshair;}
.cursor-waitr{cursor:wait;}
.cursor-help{cursor:help;}

//滚动条样式
@mixin scroll-style{
    /*修改滚动条样式-滚动条整体部分*/
    ::-webkit-scrollbar {width: 6px;height: 6px;background: transparent;}

    //滚动条的轨道
    ::-webkit-scrollbar-track {background: #fafafa;box-shadow: none;}

    //内层轨道，滚动条中间部分
    ::-webkit-scrollbar-track-piece {}

    //滚动条里面的小方块
    ::-webkit-scrollbar-thumb {background-color: #eaedf1;box-shadow: none;-webkit-border-radius: 8px;border-radius: 8px;}

    //滚动条里面的小方块-划过
    ::-webkit-scrollbar-thumb:hover {background-color: #e2e5e9;}

    //边角，即两个滚动条的交汇处
    ::-webkit-scrollbar-corner {background-color: transparent;}

    //滚动条的轨道的两端按钮
    ::-webkit-scrollbar-button {width: 0;height: 0;background-color: transparent;}

    //两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
    ::-webkit-resizer {width: 0;height: 0;background-color: transparent;}
}

/* custom */
a {color: $jr-brand-color;text-decoration: none;-webkit-backface-visibility: hidden;}

/*字体图标*/
@import url("//at.alicdn.com/t/font_2248253_fb4tst7gvu7.css");
.iconfont {display: inline-flex;justify-content: center;align-items: center;font-size: inherit;}
