/**
 * @description: 全局结构css配置
 */

/*常用变量*/
@import "./reset.scss";
@import "./basis.scss";

body, html {
    color: $jr-text-color-regular;
    font-size: $jr-text-size-main-small;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

// 启用滚动条样式
@include scroll-style;


