/**
 * @description: 全局结构css配置
 */

/*常用变量*/
@import "./reset.scss";
@import "./basis.scss";

body, html {
    color: $jr-white;
    font-size: $jr-text-size-main;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: linear-gradient(135deg, rgba(118, 180, 247, 1) 0%, rgba(78, 131, 229, 1) 100%);
}

// 启用滚动条样式
//@include scroll-style;

// 基础结构
.jr {
    min-height: 100vh;
    position: relative;

    .jr-page {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform-origin: left top;
        box-sizing: border-box;
        padding: 20px;
    }

    .jr-v1 {
        $iconPadding: 5px 10px;
        .jr-video-item-icon {
            position: absolute;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;

            &.icon1, &.icon2 {
                padding: $iconPadding;
                font-size: 14px;
                border-bottom-left-radius: 12px;
                border-top-right-radius: 12px;
                background: rgba(0, 0, 0, .45);

                span {
                    display: inline-block;
                    max-width: 120px;
                    // height: 26px;
                    // line-height: 26px;
                    overflow: hidden;
                }
            }

            &.icon1 {
                top: 0;
                right: 0;
            }

            &.icon2 {
                bottom: 0;
                left: 0;
            }

            &.icon3 {
                right: 0;
                bottom: 0;
                font-size: 16px;
                padding: 5px 15px;

                .iconfont {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #d9372f;
                    cursor: pointer;
                }
            }

            &.icon4 {
                bottom: 45px;
                right: 19px;
                display: flex;
                flex-direction: column;
                transform:rotate(180deg);
                li {
                    display: block;
                    width: 3px;
                    height: 5px;
                    border-radius: 2px;
                    background-color: #999;

                    &.active {
                        background-color: #42b983;
                    }
                }
            }
        }
        /*视频*/
        .jr-video {
            display: flex;
            flex-direction: column;

            .jr-video-main {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;

                .jr-video-item {
                    flex: 1;
                    border-radius: 12px;
                    position: relative;
                    // border: 1px solid rgba(255, 255, 255, 0.16);
                    .jr-video-item-placeholder {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 2;
                        border-radius: 12px;

                        &.type1 {
                            background: url("/image/zh_CH_video-tip01.png") no-repeat center;
                            background-size: 100% auto;
                        }

                        &.type2 {
                            background: url("/image/zh_CH_video-tip.png") no-repeat center;
                            background-size: 100% auto;
                        }
                    }

                    .jr-video-item-icon {
                        position: absolute;
                        z-index: 3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #FFF;

                        &.icon1, &.icon2 {
                            padding: $iconPadding;
                            font-size: 14px;
                            border-bottom-left-radius: 12px;
                            border-top-right-radius: 12px;
                            background: rgba(0, 0, 0, .45);
                        }

                        &.icon1 {
                            top: 0;
                            right: 0;

                            .iconwifi {
                                color: #67C23A;
                            }

                            .iconlv_zuanshi_fill {
                                color: #409EFF;
                            }
                        }

                        &.icon2 {
                            bottom: 0;
                            left: 0;
                        }

                        &.icon3 {
                            right: 0;
                            bottom: 0;
                            font-size: 16px;
                            padding: 5px 15px;

                            .iconfont {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background: #d9372f;
                                cursor: pointer;
                            }
                        }

                        &.icon4 {
                            right: 19px;
                            bottom: 38px;
                            display: flex;
                            flex-direction: column;

                            li {
                                display: block;
                                width: 3px;
                                height: 5px;
                                border-radius: 2px;
                                background-color: #999;

                                &.active {
                                    background-color: #42b983;
                                }
                            }
                        }
                    }

                }
                .jr-opera-list {
                    display: flex;
                    span {
                        padding: 5px;
                        border-radius: 50%;
                        background-color: #3e72e0;
                        margin-bottom: 8px;
                        cursor: pointer;
                    }
                }
                .jr-opera-teacher {
                    flex-direction: column;
                    bottom: 50px;
                    left: 8px;
                }
                .jr-opera-student {
                    bottom: 0px;
                    right: 8px;
                    span {
                        margin-right: 4px;
                    }
                }
            }

            .jr-video-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 0 0 12px 12px;
            }
        }

        /*课件*/
        .jr-courseware {
            margin: 0 20px;
            background: #467fe9;
            border-radius: 12px;
            position: relative;

            .jr-courseware-main {
                border-radius: 12px;
                border: 1px solid blue;
            }

            .jr-courseware-footer {
                display: flex;
                align-items: center;
                border-radius: 0 0 12px 12px;

                &.type1 {
                    justify-content: space-between;
                }

                &.type2 {
                    justify-content: center;
                }
            }

            .jr-courseware-animation {
                position: absolute;
                z-index: 9;
                display: block;
                transform: translate(50%, 50%) scale(0);
                width: 374px;
                height: auto;
                animation: diamond 1s linear;
            }

            @keyframes diamond {
                from {
                    transform: translate(50%, 50%) scale(0);
                    transform-origin: center center;
                }
                30% {
                    transform: translate(50%, 50%) scale(1);
                    transform-origin: center center;
                }
                70% {
                    transform: translate(50%, 50%) scale(1);
                    transform-origin: center center;
                }
                to {
                    transform: translate(-30px, 0) scale(0);
                    transform-origin: left top;
                }
            }
        }

        /*聊天*/
        .jr-chat {
            display: flex;
            flex-direction: column;

            .jr-chat-tips {
                position: relative;
                border-radius: 12px;
                background-color: $jr-white;

                .jr-chat-tips-placeholder {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 4;
                    border-radius: 12px;
                    background: url("/image/en_Us_no_tips.png") no-repeat center;
                    background-size: 100px auto;
                }

                .jr-chat-tips-icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 5;
                    font-size: 14px;
                    padding: $iconPadding;
                    background-color: red;
                    color: #fff;
                    border-top-right-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
            }

            .jr-chat-main {
                flex: 1;
                background: rgba(255, 255, 255, 0.16);
                border-radius: 12px;
                display: flex;
                flex-direction: column;

                .jr-chat-main-wrap {
                    flex: 1;
                    position: relative;

                    .jr-chat-main-icon {
                        position: absolute;
                        z-index: 8;

                        &.icon1 {
                            right: 0;
                            top: 0;
                            font-size: 14px;
                            padding: $iconPadding;
                            background-color: #1f58d4;
                            color: #fff;
                            border-top-right-radius: 12px;
                            border-bottom-left-radius: 12px;
                        }

                        &.icon2 {
                            font-size: 20px;
                            bottom: 0;
                            z-index: 7;

                            .iconfont {
                                width: 26px;
                                height: 26px;
                                border-radius: 50%;
                                background-color: #b3b9c6;
                                cursor: pointer;
                            }

                            .active {
                                background-color: $jr-brand-color;
                            }
                        }
                    }

                    .jr-chat-main-scroll {
                        position: absolute;
                        z-index: 6;
                        left: 0;
                        right: 0;
                        top: 30px;
                        bottom: 0;
                        padding: 0 20px;
                        overflow-y: auto;
                        scroll-behavior: smooth;

                        .jr-chat-main-item {
                            color: #FFFFFF;
                            margin-bottom: 15px;

                            .name {
                                text-align: left;
                                font-size: 14px;
                                padding: 6px 0;

                                &.self {
                                    text-align: right;
                                }
                            }

                            .txt {
                                padding: 7px 10px;
                                font-size: 13px;
                                line-height: 17px;
                                border-radius: 7px;
                                background: #497DE7;
                                position: relative;
                                text-align: left;

                                &:after {
                                    content: '';
                                    position: absolute;
                                    z-index: 7;
                                    top: 10px;
                                    right: auto;
                                    left: -8px;
                                    border-top: 4px solid transparent;
                                    border-bottom: 4px solid transparent;
                                    border-right: 8px solid #497DE7;
                                    border-left: 0 solid transparent;
                                }

                                &.self {
                                    text-align: right;
                                }

                                &.self:after {
                                    right: -8px;
                                    left: auto;
                                    border-top: 4px solid transparent;
                                    border-bottom: 4px solid transparent;
                                    border-left: 8px solid #497DE7;
                                    border-right: 0 solid transparent;
                                }
                            }
                        }
                    }
                }

                .jr-chat-footer {
                    padding: 20px;

                    .wrap {
                        background: #FFFFFF;
                        border-radius: 12px;
                        height: 100%;
                        position: relative;

                        .el-textarea {
                            textarea {
                                height: 120px;
                                border-radius: 12px;
                                font-size: 14px;
                            }
                        }

                        .el-button {
                            position: absolute;
                            z-index: 3;
                            left: 50%;
                            bottom: 0;
                            transform: translate(-50%, 50%);
                        }

                        &.disabled {
                            color: $jr-text-color-secondary;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}


.jr-courseware-test {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 90px;
    font-family: Georgia, serif;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, 0) scale(0);
    animation: heart 3s linear;
}

@keyframes heart {
    from {
        transform: translate(0, 0) scale(0);
        transform-origin: center center;
    }

    30% {
        transform: translate(0, 0) scale(1);
        transform-origin: left top;
    }

    70% {
        transform: translate(0, 0) scale(1);
        transform-origin: center center;
    }

    to {
        transform: translate(0, 0) scale(0);
        transform-origin: right bottom;
    }
}
